<div class="details-container">
    <h2>{{ .Title }}</h2>
    <img src="{{ .ArticleImage.Image_url }}" alt="{{ .Title }}">
    <!-- <p>{{ .Detail }}</p> -->
    <!-- <button onclick="window.history.back()">Go Back</button> -->
    <!-- <button hx-get="/" hx-target="#content" hx-swap="innerHTML">Back to Search</button> -->
</div>
<!-- type Article struct {
	Article_ID    string      `json:"article_id"`
	Title         string      `json:"title"`
	PublishedTime time.Time   `json:"published_time"`
	ArticleImage  image_info  `json:"article_image"`
	ArticleMeta   ArticleMeta `json:"article_meta"`
	Content       []Content   `json:"content"`
} -->